.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 50vh;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: black;
  color: white;
}
